
<div>
  <br>
  <h3 class="container">Host an Event</h3>
  <br>
  <br>


  <div class="container">
    <div class ="container" id="newEventForm">

      <form name="newEventForm">

    <div class="row">
      <div class="col">
        <h4>Event details</h4>

        <input type="text" name="title" placeholder="Title" [(ngModel)]="newEvent.title" required><br><br>
        <input type="text" name="purpose" placeholder="Purpose" [(ngModel)]="newEvent.purpose"><br><br>
        <input type="text" name="description" placeholder="Description" [(ngModel)]="newEvent.description" required><br><br>

        <label for="date">Capacity</label><br>
        <input type="number" name="capacity" placeholder="Capacity" [(ngModel)]="newEvent.capacity" required><br><br>

        <label for="date">Date</label><br>
        <input type="date" name="date" placeholder="MM/DD/YYYY" [(ngModel)]="newEvent.eventDate" required><br>

        <label for="date">Start Time</label><br>
        <input type="time" name="startTime" placeholder="17:00:00" [(ngModel)]="newEvent.startTime" required><br>

        <label for="date">End Time</label><br>
        <input type="time" name="endTime" placeholder="22:00:00" [(ngModel)]="newEvent.endTime"><br>

        <label for="date">Cover Image URL</label><br>
        <input type="text" name="coverImgUrl" placeholder="" [(ngModel)]="newEvent.coverImgUrl" required>
        <br><br>
    </div>

      <div class="col">
        <h4>Event location</h4>
        <input type="text" name="address1" placeholder="Street address" [(ngModel)]="newEventAddress.address1" required><br><br>
        <input type="text" name="address2" placeholder="Street address 2" [(ngModel)]="newEventAddress.address2" required><br><br>
        <input type="text" name="city" placeholder="City" [(ngModel)]="newEventAddress.city" required><br><br>
        <input type="text" name="state" placeholder="State" [(ngModel)]="newEventAddress.state" required><br><br>
        <input type="text" name="zipCode" placeholder="Zip code" [(ngModel)]="newEventAddress.zipCode" required><br><br>
        <input type="text" name="country" placeholder="Country" [(ngModel)]="newEventAddress.country" required><br><br>
        <br>
        <button class="btn-outline-info btn-lg" (click)="addEvent(newEvent, newEventAddress)" name="addEventButton">Post Event</button>
          <br>

      </div>

    </div>
  </form>

  </div>
</div>
</div>
