<div>
  <div *ngFor="let comment of allComments">
    <hr>

    <div class="light p-2">
      <div class="d-flex flex-row align-items-start">
        <img
              class="rounded-circle"
              src="{{ currentUser?.profileImgUrl }}"
              width="40"
            />
          <div>
            <h6><span class="bg-white">{{comment.title}}</span></h6>
            <h6><span class="bg-white">{{comment.content}}</span></h6>
          </div>
        </div>
    </div>

  </div>
</div>


<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <div class="d-flex flex-column comment-section">
        <div class="bg-white p-2">
          <div class="d-flex flex-row user-info">
            <img
              class="rounded-circle"
              src="{{ currentUser?.profileImgUrl }}"
              width="40"
            />
            <div class="d-flex flex-column justify-content-start ml-2">
              <span class="d-block font-weight-bold name"
                >{{ currentUser?.fName }}&nbsp;{{ currentUser?.lName }}</span><span class="date text-black-50"> </span>

            </div>
          </div>

          <div class="mt-2">
            <form action="">
            <input type="text" name="title" placeholder="Comment title" [(ngModel)]="newComment.title" ><br><br>
            <textarea name="content" placeholder="Your comment here..." cols="55" rows="14" [(ngModel)]="newComment.content"></textarea><br><br>
            <button class="btn btn-dark" (click)="addComment(newComment, currentEvent.id)">Post Comment</button>
          </form>
          </div>


        </div>
          <span class="date text-black-50">Shared publicly - {{getCommentDate()}} </span>


        <!-- <div class="bg-white">
          <div class="d-flex flex-row fs-12">
            <div class="like p-2 cursor">
              <i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
            </div>
            <div class="like p-2 cursor">
              <i class="fa fa-commenting-o"></i
              ><span class="ml-1">Comment</span>
            </div>
            <div class="like p-2 cursor">
              <i class="fa fa-share"></i><span class="ml-1">Share</span>
            </div>
          </div>
        </div> -->


      </div>
    </div>
  </div>
</div>
