
<div class="container px-4 py-8 mx-auto">
  <div class="row d-flex justify-content-left">
  <div *ngFor="let comment of allComments">
    <div class="card; w-75 p-3" style="border-radius: 10px;">
      <div class="card-header" style="background-color: rgb(114, 140, 175);">
        <h4>
        <img class="rounded-circle" src="{{ currentUser?.profileImgUrl}}" width="60" height="60"/>
        &nbsp;&nbsp;{{currentUser?.fName }}&nbsp;{{ currentUser?.lName }}
      </h4>
    </div>
    <div class="card-body" style="background-color: white;">
      <blockquote class="blockquote mb-0">
        <!-- <h6><span class="bg-white">{{comment.title}}</span></h6> -->
        <h5 style="color: rgb(114, 140, 175); font-weight: 500;">{{comment.title}}</h5><br>
          <h6><span class="bg-white">{{comment.content}}</span></h6>
          <br><footer class="blockquote-footer">Posted <cite title="Source Title">{{comment.commentDate}}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div><br><br>
  </div>
  </div>


<br><hr><br>
  <div class="container px-4 py-8 mx-auto">
    <div class="row d-flex justify-content-left">
        <div class="card; w-100 p-3" style="background-color: rgb(114, 140, 175); border-radius: 10px;">
          <!-- <img class="rounded-circle" src="{{ currentUser?.profileImgUrl}}" width="60" height="60"/>  -->
          <h3 class="mb-0 font-weight-normal">Create A New Post</h3>
          <br><input type="text" name="title" placeholder="Comment title" [(ngModel)]="newComment.title" >
            <div class="row px-3 form-group">
                <textarea [(ngModel)]="newComment.content" class="text-muted bg-light mt-4 mb-3" placeholder="Hi {{currentUser?.fName}}, add your comment here!"></textarea>
            </div>
            <div class="row d-flex justify-content-center; w-25 p-3">
                <button if="post" class="btn btn-success ml-auto" (click)="addComment(newComment, currentEvent.id)">Post</button>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
</div>


