<div id="eventsList">
<div class="container" id="allcontent">
  <br><br>
  <h3>Search by</h3>
  <div>
  <button type="button" class="btn btn-outline-secondary btn-lg" (click)="menuToggleShowAll()">All events</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-secondary btn-lg" (click)="getMyEvents()" >My events</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-secondary btn-lg" (click)="menuToggleShowPast()">Past events</button>
</div>
<br>

  <br>

  <div class="row card-group" *ngIf="menuToggle == 'all'">
    <div class="col-5"  *ngFor="let event of allEvents">
      <div class="card" style="width: 18rem">
        <img src="{{ event.coverImgUrl }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">Date: {{ event.eventDate }}</p>
          <p class="card-text">City: {{ event.address?.city }}</p>
          <p class="card-text">{{ event.description }}</p>
          <button type="button" class="btn btn-primary" (click)="displayEventInfo(event)">View details</button>

        </div>
    </div>
    <br>
</div>
  <br />
</div>


<div class="row card-group" *ngIf="menuToggle == 'mine'">
  <div class="col-5" *ngFor="let myEvent of myEvents">
    <div class="card" style="width: 18rem">
      <img src="{{ myEvent.coverImgUrl }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ myEvent.title }}</h5>
        <p class="card-text">Date: {{ myEvent.eventDate }}</p>
        <p class="card-text">City: {{ myEvent.address?.city }}</p>
        <p class="card-text">{{ myEvent.description }}</p>
        <button type="button" class="btn btn-primary" (click)="displayEventInfo(myEvent)">View details</button>
      </div>
  </div>
  <br>
</div>
<br />
</div>


<!-- SINGLE EVENT VIEW -->

<div class="row card-group" *ngIf="selected">

      <h5 class="card-title">{{ selected.title }}</h5>
      <p class="card-text">Date: {{ selected.eventDate }}</p>
      <p class="card-text">City: {{ selected.address?.city }}</p>
      <p class="card-text">Desctiption: {{ selected.description }}</p>
      <p class="card-text">Capacity: {{ selected.capacity }}</p>
      <p class="card-text">Start time: {{ selected.startTime }}</p>
      <p class="card-text">End time: {{ selected.endTime }}</p>
      <p class="card-text">Created on: {{ selected.createdDate }}</p>
      <p class="card-text">Updated on: {{ selected.lastUpdated }}</p>
      <p class="card-text">Cover image URL: {{ selected.coverImgUrl }}</p>
      <button type="button" class="btn btn-primary" (click)="menuToggleShowAll()">Back</button>
      <br>
      <br />
</div>
</div>
