<div id="eventsList">
<div class="container" id="allcontent">
  <br><br>
  <div class="event-types">
    <button type="button" class="btn btn-outline-secondary btn-lg">All events</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-secondary btn-lg">My events</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-secondary btn-lg">Past events</button>
  </div>

  <br>

  <div class="row card-group">
      <div class="col-5"  *ngFor="let event of allEvents">
        <div class="card" style="width: 18rem">
          <img src="{{ event.coverImgUrl }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">Date: {{ event.eventDate }}</p>
            <p class="card-text">City: {{ event.address?.city }}</p>
            <p class="card-text">{{ event.description }}</p>
            <a href="#" class="btn btn-primary" (click)="displayEventInfo(event)">View details</a>
          </div>
      </div>
      <br>
  </div>

    <br />
  </div>
</div>
</div>