<div id="allcontent">
  <div id="bannerImg" class="share"></div>

<!-- Contained -->
<div class="row">
<div class="col-sm-4">
  <img  class="images" id="profileImg" src="{{currentUser.profileImgUrl}}"/><br>
  <a (click)="setEditUser()" class="card-link"><i id="editButton" class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></a>

  <hr>
   <h3>{{currentUser.fName}} {{currentUser.lName}}</h3>
    <p class="card-text">Bio: {{currentUser.biography}}</p><br><br>
  <hr>
    <h3>Account Information</h3><br>
    <p>Username: {{currentUser.username}}</p>
    <p>Email: {{currentUser.email}}</p>
    <p>Phone: {{currentUser.phone}}</p>
  <hr>

  <h3>My Interests</h3> <br>
<!-- TODO: tie in tags -->
</div><br><br>

<!-- Display On The Right -->
<div class="col-sm-8">

      <!-- contained -->
      <div class="container overflow-hidden" >
        <div class="row gy-5">
          <div class="col-12">
            <div class="p-3">
              <div>
              <button type="button" class="btn btn-outline-secondary btn-lg" (click)="getMyEvents()" >Hosting</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-secondary btn-lg" (click)="getAttendingEvents()" >Attending</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-secondary btn-lg" (click)="getPastEvents()" >Past</button>
            </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container overflow-hidden">
        <div class="row gy-5">
          <div class="col-12">

            <!-- Hosting -->
          <div class="row card-group" *ngIf="profileEditToggle == 'mine'">
            <div class="col-5" *ngFor="let myEvent of myEvents">
              <div class="card" style="width: 18rem">
                <img src="{{ myEvent.coverImgUrl }}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{ myEvent.title }}</h5>
                  <p class="card-text">Date: {{ myEvent.eventDate }}</p>
                  <p class="card-text">City: {{ myEvent.address?.city }}</p>
                  <p class="card-text">{{ myEvent.description }}</p>
                  <button type="button" class="btn btn-primary" (click)="displayEventInfo(myEvent)">View details</button>
                </div>
               </div>
               <br><br>
              </div>
              <br><br>
             </div>
             <!-- Attending -->
          <div class="row card-group" *ngIf="profileEditToggle == 'attending'">
            <div class="col-5" *ngFor="let myEvent of myEvents">
              <div class="card" style="width: 18rem">
                <img src="{{ myEvent.coverImgUrl }}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{ myEvent.title }}</h5>
                  <p class="card-text">Date: {{ myEvent.eventDate }}</p>
                  <p class="card-text">City: {{ myEvent.address?.city }}</p>
                  <p class="card-text">{{ myEvent.description }}</p>
                  <button type="button" class="btn btn-primary" (click)="displayEventInfo(myEvent)">View details</button>
                </div>
               </div>
               <br><br>
             </div>
             <br><br>
           </div>

           <!-- Past Hosted/Attended -->
          <div class="row card-group" *ngIf="profileEditToggle == 'past'">
            <div class="col-5" *ngFor="let myEvent of myEvents">
              <div class="card" style="width: 18rem">
                <img src="{{ myEvent.coverImgUrl }}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{ myEvent.title }}</h5>
                  <p class="card-text">Date: {{ myEvent.eventDate }}</p>
                  <p class="card-text">City: {{ myEvent.address?.city }}</p>
                  <p class="card-text">{{ myEvent.description }}</p>
                  <button type="button" class="btn btn-primary" (click)="displayEventInfo(myEvent)">View details</button>
                </div>
              </div>
              <br><br>
            </div>
            <br><br>
          </div>


 <!-- Contained -->

          <div class="row card-group" *ngIf="selected">
            <div class="container px-4 py-8 mx-auto">
              <div class="row d-flex justify-content-left">

            <div class="card mb-3; w-100 p-3" style="background-color:  rgb(235, 234, 208);">
              <img class="card-img-top" src="{{ selected.coverImgUrl }}" alt="Card image cap" style="border: 4px solid  rgb(149, 56, 25);">
              <div class="card-body">
                <h2 class="card-title">{{ selected.title }}</h2>
                <a><i id="displayButton" class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;{{ selected.eventDate }} &nbsp; |</a> &nbsp;&nbsp;
                <a><i id="displayButton" class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ selected.startTime }} &nbsp; |</a> &nbsp;&nbsp;
                <a><i id="displayButton" class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{ selected.address?.city }} &nbsp; |</a> &nbsp;&nbsp;
                <a><i id="displayButton" class="fa fa-users" aria-hidden="true"></i>&nbsp; {{ selected.capacity }} &nbsp; spots &nbsp; </a>
                <!-- <small class="text-muted">Last updated &nbsp; {{ selected.lastUpdated }} </small> -->
                <hr>
                <p class="card-text">{{ selected.description }}</p>
                <br><br>
                <hr>
                <h2>Discussion Board</h2>
                <hr>
              </div>
              <!-- <img class="card-img-bottom" src="../../../assets/discussionBoard.png" alt="Card image cap" style="border: 4px solid  rgb(114, 140, 175)"> -->
              <app-discussion-board [currentEvent]="selected"></app-discussion-board>
            </div>
            </div>
            </div>
          </div>

<!-- Contained -->
          <div id="editProfile" *ngIf="profileEditToggle == 'hide' && editUser">

            <form class="form">
              <label class="form-label" for="location">First Name: </label>
              <input class="form-control" type="text" name="location" value={{currentUser.fName}} [(ngModel)]= "editUser.fName"/>
              <br>
              <label class="form-label" for="date">Last Name: </label>
              <input class="form-control" type="text" name="date" value={{currentUser.lName}} [(ngModel)]= "editUser.lName"/>
              <br>
              <label class="form-label" for="acftNumber">Email: </label>
              <input class="form-control" type="text" name="acftNumber" value={{currentUser.email}} [(ngModel)]= "editUser.email"/>
              <br>
              <label class="form-label" for="flightType" >Phone: </label>
              <input class="form-control" type="text" name="flightType" value={{currentUser.phone}} [(ngModel)]= "editUser.phone"/>
              <br>
              <label class="form-label" for="missionType" >Profile Image: </label>
              <input class="form-control" type="text" name="missionType" value={{currentUser.profileImgUrl}} [(ngModel)]= "editUser.profileImgUrl"/>
              <br>
              <label class="form-label" for="dayInHours" >Banner Image: </label>
              <input class="form-control" type="text" name="dayInHours" value={{currentUser.bannerImgUrl}} [(ngModel)]= "editUser.bannerImgUrl"/>
              <br>
              <label class="form-label" for="nightInHours" >About Me: </label>
              <input class="form-control" type="text" name="nightInHours" value={{currentUser.biography}} [(ngModel)]= "editUser.biography"/>

              <br>
              <button class="btn btn-outline-secondary" (click)="getMyEvents()">Cancel</button>
              <button class="btn btn-outline-secondary" (click)="updateUser(editUser)">Save</button>
            </form>
          </div>


        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
</div>
