<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="overview">
  <br><br><br>
  <div class="card-deck">
    <div class="card" id="Brian">
          <div class="img-container">
              <img src="https://avatars.githubusercontent.com/u/76708180?v=4" alt="" class="profile-img">
          </div>
          <div class="card-body">
            <h3 class="card-title">Brian Teets</h3>
            <h6 class="card-title">Keeper of the Repo</h6>
            <hr>
            <p class="card-text">I love Neighboring Worlds, because it reminds me of my grandma who was
              a member of an International Friendship club in Bucyrus, Ohio.  </p>
          </div><hr>
          <div class="card-footer, text-center">
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-linkedin"></i></a>
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-github"></i></a>
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-envelope-open-fill"></i></a>
          </div>
    </div>
    <div class="card" id="Charli">
                <div class="img-container">
            <!-- <img src="https://oceanvodka.com/uploads/2019/04/HP-Hero-Header@2x.jpg" alt="" class="banner-img"> -->
              <img src="https://avatars.githubusercontent.com/u/100814851?v=4" alt="Card image cap" alt="" class="profile-img">
          </div>
      <div class="card-body">
        <h3 class="card-title">Charli Verderame</h3>
        <h6 class="card-title">Keeper of the Database</h6>
        <hr>
        <p class="card-text">I love to travel and explore new cultures and learn from the people around me.</p>
      </div><hr>
      <div class="card-footer, text-center">
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-linkedin"></i></a>
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-github"></i></a>
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-envelope-open-fill"></i></a>
      </div>
    </div>
    <div class="card" id="Erich">
      <div class="img-container">
        <img src="https://media-exp2.licdn.com/dms/image/C5603AQGh5vD2CI9Rig/profile-displayphoto-shrink_800_800/0/1651968983667?e=1661990400&v=beta&t=h-VqjIb3xhwP8WUBDdeLKn_kdBesUOjtu_hjyX52SLY" alt="" class="profile-img">
    </div>
    <div class="card-body">
        <h3 class="card-title">Erich Schindler</h3>
        <h6 class="card-title">Keeper of the Scrum</h6>
        <hr>
        <p class="card-text"> A junior software developer based out of Hershey, PA, I love reading, chess, travel,
          and spending time with my wife and 2 boys.</p>
      </div><hr>
      <div class="card-footer, text-center">
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-linkedin"></i></a>
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-github"></i></a>
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-envelope-open-fill"></i></a>
      </div>
    </div>
    <div class="card" id="Paul">
      <div class="img-container">
        <img src="https://avatars.githubusercontent.com/u/57416640?v=4" alt="" class="profile-img">
    </div>
    <div class="card-body">
        <h3 class="card-title">Paul Chaffin</h3>
        <h6 class="card-title">Keeper of all </h6>
        <hr>
        <p class="card-text"> Music enthusiast, book collector,  crossword solver and frequent pizza maker working as a software engineer in New York.</p>
      </div><hr>
      <div class="card-footer, text-center">
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-linkedin"></i></a>
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-github"></i></a>
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!"><i class="bi bi-envelope-open-fill"></i></a>
      </div>
    </div>

  </div>
</div>
